<!doctype html>
<html manifest="bulletpad.appcache">
<head>
  <meta charset="utf-8">
  <title>Bulletpad</title>
  <script type='text/javascript' src='vue.js'></script>
  <script type='text/javascript' src='main.js'></script>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  <meta name="viewport" content="width=device-width">
</head>
<body>

<div id="app">
  <textarea v-model="newTodo" v-on:keyup.enter="addTodo" placeholder="new note"></textarea>
  <ul>
    <li v-for="todo in todos">
      {{ todo.text }}
      <button v-on:click="removeTodo($index)">X</button>
    </li>
  </ul>
</div>

</body>
</html>
